---
import Layout from '../layouts/Layout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  title="About | Walid Bouladam"
  description="About Walid Bouladam, a Fullstack Software Engineer based in Auckland, New Zealand."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a Fullstack Engineer with experience in building fullstack
            applications using modern technologies such as HTML/CSS, JavaScript,
            React.js, Node.js, and PHP. In my current role, I contribute to the
            full range of development tasks, including building new features,
            fixing bugs, and maintaining enterprise frameworks and existing code
            structures.
          </p>
          <p>
            Prior to my current role, I worked as a Graduate Systems Engineer,
            where I gained experience in system design and architecture.
            Additionally, I have experience in leadership as a Store Manager,
            where I exercised my problem-solving abilities and effective
            communication skills to lead my team to success.
          </p>
          <p>
            In my downtime, I enjoy outdoor adventures such as hiking and
            cycling, as well as indoor rock climbing. I set goals for myself,
            such as completing all the Great Walks of New Zealand by the end of
            next year and climbing Aoraki/Mt. Cook within the next five years.
            Hiking and rock climbing are important to me because they allow me
            to recharge my batteries and reconnect with nature.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Enspiral Dev Academy: Diploma in Web Development</p>
          <p>AWS Certified Cloud Practitioner (CLF-C01)</p>
          <p>Microsoft Certified: Azure Fundamentals (AZ-900)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Tech Stack</h2>
        <div class="content">
          <p>HTML/CSS</p>
          <p>JavaScript</p>
          <p>React.js</p>
          <p>Next.js</p>
          <p>Node.js</p>
          <p>PHP</p>
          <p>SQL and NoSQL databases</p>
          <p>Headless CMS</p>
          <p>Git</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</Layout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
